[dirs]
root_dir = "/home/username/Desktop/Files/Study/Moodle_Files/"

[auth]
username =  "username"   
password = "password"
authurl = "https://moodle.someMoodle.de/m/login/index.php"
baseurl = "https://moodle.someMoodle.de/m/"
useauthstate = false
# Example authurl for 'useauthstate = true' (see that there is a 'AuthState' paramter in the url):
# authurl = https://moodle.dhbw.de/simplesaml/module.php/core/loginuserpass.php?AuthState=_c44b64b8c571072540441a821d1b3b6caa17a05991%3Ahttps%3A%2F%2Fmoodle.dhbw.de%2Fsimplesaml%2Fmodule.php%2Fcore%2Fas_login.php%3FAuthId%3Dmultilogin%26ReturnTo%3Dhttps%253A%252F%252Fmoodle.dhbw.de%252Fauth%252Fsaml%252Findex.php
uselogintoken = false
reloginonfile = false

[crawl]
allcourses = false
forum = false
wiki = false
history = true
maxdepth = 9
loglevel = 0
externallinks = false
crawlcourseslink = "course/index.php"
findduplicates = true
findallduplicates = true
deleteduplicates = false
informationaboutduplicates = true
downloadcoursepages = false
dontcrawl = "mp4,mkv,mp3"
# onlycrawlcourses = "123,4122"
onlycrawlcourses = ""
dontcrawlcourses = ""
# extracrawlcourses = "123:Business management for advanced, 4122:"
# scheme: <course-id>:<course-name>,<next course-id>:<next course-name>,...
# Don't use a colon and comma in the course name!
extracrawlcourses = "" 
antirecrusion = true

[other]
colors = true
notifications = false
